table {
	border: 5px solid white;
}

td {
  border: 1px solid black;
/*  padding: 35px 35px 35px 35px; */
  border-collapse: collapse;
  width:100px;
  height:100px;
  line-height: 97px;
  font-size: 42px;
  text-align: center;
}

